@font-face {
  font-family: linja-pona;
  src: url("./fonts/linja-pona-4.9.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 2rem;
  font-family: linja-pona;
  font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-block: 0;
  font-size: 110%;
}

p {
  margin-block: 1rem;
}

input {
  font-family: system-ui;
  font-size: 1.5rem;
  width: 25rem;
}

.inputs {
  display: flex;
  gap: 2rem;
}
.inputs label {
  display: flex;
  flex-direction: column;
}
