body {
  font-size: 2rem;
}

h1 {
  margin-block: 0;
  font-size: 110%;
}

p {
  margin-block: 1rem;
}

input {
  font-family: system-ui;
  font-size: 1.5rem;
  width: 25rem;
}

.inputs {
  display: flex;
  gap: 2rem;
}
.inputs label {
  display: flex;
  flex-direction: column;
}
